body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    align-items: center !important;
}

nav {
    background-color: #7fa9d3;
    padding: 1rem;
    margin-bottom: 2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #bd2323;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.container, .election {
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional: Adjusts alignment of items within the container */
    gap: 10px; /* Optional: Adds space between elements */
  }
